<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Craigslist Macbook Scraper</title>
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
