<form action="/" method="post">
  <p>Default Search is Portland</p>
  <p>If you would like to change your search location go to craigslist and search macbook then copy and paste that link here:</p>
  <input class='form-control' type="text" name="link"><br>
  <p>Input city you are searching</p>
  <input class='form-control' type="text" name="city"><br>
  <button type="submit" class='btn btn-info'>Check current macbooks</button>
</form>
<p><em>this can take a little while as the app scrapes over 100 web pages</em></p>
